.hiddenFrame {
  visibility: hidden;
}

.originPokemons {
  padding-top: 50px;
}

.pokemonImages {
  height: 165px !important;
  width: 120px !important;
}

.pokemonImages img {
  width: 120px !important;
  height: 120px !important;
}